/* Abhimanyu **/
.form-control {
    border-radius: 0;
}

#progress { position: relative; height: 2px; background-color: #eee; margin-bottom: 20px; }
#progress-complete { border: 0; position: absolute; height: 2px; min-width: 10px; background-color: #007bff; transition: width .2s ease-in-out; }
.commands { overflow: hidden; margin-top: 30px; }
.prev {float:left}

.next, .submit,.btn-success {float:right}
fieldset {
    border: 1px groove #007bff !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}
.content-part .form-wrap {
    padding: 20px;
    box-shadow: 0px 0px 19px rgba(0,0,0,.14);
}
.content-part button[type="submit"] {
    padding: 8px 30px;
    border-radius: 0;
    background: #007bff;
    border-color: #007bff;
}
.content-part .form-wrap .form-group .help-block {
    margin: 0;
    color: #ff0000;
    font-weight: 400;
    font-size: 13px;
}

.content-part .form-wrap .form-group .help-block * {
    font-weight: inherit;
    font-size: inherit;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
}
.dataTables_wrapper .dataTables_length select {
    height: 34px;
    padding: 6px;
    outline: none;
}
.content-part .table .btn {
    background: #007bff;
    margin: 0 2px;
    color: #ffffff;
    outline: none;
    border-radius: 0;
}
.content-part .dataTables_wrapper .dataTables_paginate .paginate_button.current, .content-part .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #007bff;
    background: #007bff;
    border-radius: 0;
    outline: none;
}
.navbar-top-links .dropdown .dropdown-toggle {
    background: #007bff !important;
    color: #fff !important;
 }

 
#side-menu li ul li a::before {
    content: "\f105";
    font-family: fontawesome;
    margin: 0 5px 0 0;
  }
  #side-menu li a {
      color: #fff;
      background: transparent;
      outline: none;
  }
  .navbar-default.sidebar {
    background: #007bff;
    min-height: calc(100vh - 50px);
  }
  .navbar-default.sidebar ul {
    background: transparent;
  }
  
  page-header {
      border-bottom: 1px solid #007bff;
  }
  .navbar-default .navbar-brand {
      color: #007bff;
  }
  #page-wrapper .content-part .panel {
    margin: 0;
}
#page-wrapper .content-part h1 {
    margin: 0 0 1rem 0;
}
.content-part .btn {
    background: #007bff;
    margin: 0 2px;
    color: #ffffff;
    outline: none;
    border-radius: 0;
}
.navbar-top-links .dropdown-user {
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 9px rgba(0, 123, 255,.24);
}
#page-wrapper .content-part .data-part h2 {
    font-size: 20px;
    color: #000;
    margin: 0 0 .5rem 0;
}
.step-form label {
    display: block;
}
.content-part .step-form .btn-group {
    width: 100% !important;
}
.content-part .step-form .btn-group .multiselect {
    background: #fff;
    width: 100% !important;
    display: block;
    color: #101010;
    text-align: left;
}
.recordsetParent {
    position: relative;
}

.recordsetParent .bunPare {
    position: absolute;
    right: 0;
    background: #007bff;
    padding: 5px 9px;
    display: inline-block;
    color: #fff;
    top: 25px;
}
.recordset,.recordsetWork {
    position: relative;
}

.recordset div#btnMinus,.recordsetWork #btnMinusWork {
    position: absolute;
    right: 0;
    background: #007bff;
    padding: 5px 9px;
    display: inline-block;
    color: #fff;
    top: 25px;
}
.well #first #btnPlus,.well #second #btnPlusWork {
    position: absolute;
    right: 35px;
    background: #007bff;
    padding: 5px 9px;
    display: inline-block;
    color: #fff;
    bottom: 19px;
}

.well.first-well #first,.well.second-well #second {
    position: relative;
}

.well.first-well #first #btnPlus, .well.second-well #second #btnPlusWork {
    position: absolute;
    right: 35px;
    background: #007bff;
    padding: 5px 9px;
    display: inline-block;
    color: #fff;
    bottom: 19px;
}
.well .bunPareWork {
    position: absolute;
    right: 0;
    background: #007bff;
    padding: 5px 9px;
    display: inline-block;
    color: #fff;
    top: 25px;
}
.well.second-well, .well.first-well, .well.third-well, .well.other-well.v,.well.fourth-well {
    border-radius: 0;
    border: none;
    box-shadow: 0 0px 12px rgba(0, 123, 255,.14);
    background: #fff;
}
#wrapper {
    background: #007bff;
}
.recordsetWork .form-group .controls label.error {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    color: #ff0000;
}


.view-page .text-wrap {
    border-radius: 0;
    border: none;
    box-shadow: 0 0px 12px rgba(0, 123, 255,.14);
    background: #fff;
    padding: 20px;
}

.view-page .text-wrap .img-wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 0 1rem 0;
}

.view-page .text-wrap .img-wrap img {
    margin: 0 auto;
    max-width: 170px;
}
.view-page .text-wrap .out-wrap p span {
    float: right;
}
.view-page .mb1 {
    margin-bottom: .5rem;
}
.view-page  .mb2 {
    margin-bottom: 2rem;
}
.view-page .text-wrap .out-wrap p {
    margin: 0;
    font-size: 16px;
}
.view-page .text-wrap h2 {
    margin: 0;
    font-size: 22px;
    line-height: 30px;
}
.view-page .text-wrap .heading{
    border-bottom: 1px solid #007bff;
    margin: 0 0 2rem 0;
}
.radio label, .checkbox label {
    display: inline-block;
}